@import "tailwindcss";

@theme {
    --color-app-50: #f0f9ff;
    --color-app-100: #e0f2fe;
    --color-app-200: #bae6fd;
    --color-app-300: #7dd3fc;
    --color-app-400: #38bdf8;
    --color-app-500: #0ea5e9;
    --color-app-600: #0284c7;
    --color-app-700: #0369a1;
    --color-app-800: #075985;
    --color-app-900: #0c4a6e;
    --color-app-950: #082f49;
}
