@import "tailwindcss";

@theme {
    --color-app-50: hsl(174.41860465116278, 77.28506787330318%, 88.33333333333333%);
    --color-app-100: hsl(174.41860465116278, 82.28506787330318%, 78.33333333333333%);
    --color-app-200: hsl(174.41860465116278, 87.28506787330318%, 68.33333333333333%);
    --color-app-300: hsl(174.41860465116278, 92.28506787330318%, 58.33333333333333%);
    --color-app-400: hsl(174.41860465116278, 97.28506787330318%, 48.33333333333333%);
    --color-app-500: hsl(174.41860465116278, 97.28506787330318%, 43.33333333333333%);
    --color-app-600: hsl(174.41860465116278, 100%, 33.33333333333333%);
    --color-app-700: hsl(174.41860465116278, 100%, 23.33333333333333%);
    --color-app-800: hsl(174.41860465116278, 100%, 15%);
    --color-app-900: hsl(174.41860465116278, 100%, 10%);
    --color-app-950: hsl(174.41860465116278, 100%, 5%);
}
